@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&family=Kaushan+Script&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0!important;
  box-sizing: border-box;
  list-style-type: none!important;
  font-family: var(--fonte-padrao);
}

:root {
  --primaryblue: #0B31BA;
  --primaryyellow: #FFC62D;
  --white: #ffffff;
  --fonte-padrao: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.frame h3 {
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;
  color: black;
}

.frame > p {
  color: black;
  font-family: var(--fonte-padrao);
  font-weight: normal;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 20px;
}

.frame h3::before,
.frame h3::after {
  content: '';
  width: 107.08px;
  height: 3px;
  border: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 42px;
}

.frame h3::before {
  background: var(--primaryblue);
}

.frame h3::after {
  background: var(--primaryyellow)
}

/* @media (min-width: 788px) {
  html {
    zoom: 1.0;
  }
}

@media (min-width: 992px) {
  html {
    zoom: 1.2;
  }
} */

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--white);
}

.container {
  display: flex;
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0!important;
  position: relative!important;
}

.swiper-slide {
  width: 58rem!important;
  height: 42rem!important;
  position: relative!important;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}



@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}



.slide {
  position: relative;
  width: 58rem!important;
  height: 42rem;
  border-radius: 15px;
}

#slide1 {
  background: black url(images/aps-plus.png) center center/cover no-repeat ;
}

#slide2 {
  background: black url(images/poda-facil.png) center center/cover no-repeat ;
}

#slide3 {
  background: black url(images/povoar.png) center center/cover no-repeat ;
}

#slide4 {
  background: black url(images/doullyta.png) center center/cover no-repeat ;
}

#slide5 {
  background: black url(images/catalogo.png) center center/cover no-repeat ;
}

#slide6 {
  background: black url(images/tarefas-junior.png) center center/cover no-repeat ;
}

#slide7 {
  background: black url(images/app-se.png) center center/cover no-repeat ;
}

#slide8 {
  background: black url(images/vertuno.png) center center/cover no-repeat ;
}

div.info {
  position: absolute;
  width: 58rem!important;
  height: 42rem;
  bottom: 0%;
  border-radius: 15px;
  color:transparent;
}

div.info:hover {
  display: block!important;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
}

div.info > a {
  width: 58rem!important;
  height: 42rem;
  border-radius: 15px;
} 

div.info > a:hover {
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 1;
} 

div.info > h4 {
  
  margin: -90px 10px 10px 20px;
} 
div.info > p {
  
  margin: 10px 10px 10px 20px;
}

a {
  display: block;
  width: 58rem!important;
  height: 42rem;
  text-decoration: none;
  color: white;
  font: 700 2.5em var(--white);
  
 }


.swiper-slide img {
  width: 58rem!important;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  
}

.slider-controler .swiper-button-next {
  top: -270px;
  left: 73% !important;
  background: transparent url(images/next.png) center center/cover no-repeat;
  transform: translateX(-58%) !important;
}

.slider-controler .swiper-button-prev {
  top: -270px;
  right: 73%!important;
  background: transparent url(images/prev.png) center center/cover no-repeat;
}

/* @media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
} */

@media screen and (min-width: 680px) and (max-width: 883px) {

  /* .frame {
      display: flex;
      justify-content: center;
      align-items: center;
  } */

  .frame h3 {
      font-size: 5vw;
      line-height: 46px;
      margin-top: 20px;
  }

  .frame h3::before,
  .frame h3::after {
      width: 12vw;
      height: 2px;
      margin: 0 20px;
  }
  
  .frame > p {
    font-size: 2vh;
  }

  .container { 
    max-width: 70rem;
  }
}

@media screen and (min-width: 501px)and (max-width: 680px) {

  /* .frame {
      display: flex;
      justify-content: center;
      align-items: center;
  } */

  .frame h3 {
      font-size: 3vw;
      line-height: 26px;
      margin-top: 10px;
  }

  .frame h3::before,
  .frame h3::after {
      width: 8vw;
      height: 2px;
      margin: 0 15px;
  }

  .frame > p {
    font-size: 1vh;
    margin: 15px;
  }

  .container { 
    max-width: 60rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {

  /* .frame {
      display: flex;
      justify-content: center;
      align-items: center;
  } */

  .frame h3 {
      font-size: 3vw;
      line-height: 26px;
      margin-top: 10px;
  }

  .frame h3::before,
  .frame h3::after {
      width: 8vw;
      height: 2px;
      margin: 0 15px;
  }

  .frame > p {
    font-size: 1vh;
    margin-left: 15px;
  }

  .container { 
    max-width: 42rem;
  }

  .slide , .info {
    width: 28rem !important;
    height: 36rem !important;
  }
}

@media screen and (max-width: 300px) {

  /* .frame {
      display: flex;
      justify-content: center;
      align-items: center;
  } */

  .frame h3 {
      display: flex;

      font-size: 2vw;
      line-height: 26px;
      margin-top: 10px;
      margin-left: 200px;
  }

  .frame h3::before,
  .frame h3::after {
      width: 8vw;
      height: 2px;
      margin: 0 15px;
  }

  .frame > p {
    font-size: 4vh;
  }

  .container { 
    max-width: 60rem;
  }

  .slide , .info {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.slider-controler .slider-arrow {
  align-self: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  left: 27%;
  
  transform: translateX(-45%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow:active {
  width: 7rem;
  height: 7rem;
}

.slider-controler .slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.466);
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 50%!important;
  transform: translate(-50%, 0px);
  width: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primaryblue);
}